*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.clear{
    clear: both;
}
/* grids */
*[class^="col-"] {
    float: left;
    box-sizing: border-box;
    padding: 0px 2px;
}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: calc((100% / 12) * 12);
}
 /* grids end */

.container{
    width: 970px;
    background-color: #ece6e6;
    margin: 0px auto;
}
.head{
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin-top: 20px;
}
.col-3 img{
    width: 250px;
    height: 50px;
    margin-left: 20px;
}
nav ul li{
    list-style: none;
    color: gray;
    display: inline-block;
    margin-left: 21px;
    font-size: 20px;
    font-weight: 550;
}
nav ul li:hover{
    color: blue;
    transition: all .5s ease;
}
.active{
    color: blue;
}
#content{
    height: 100%;
    margin: 0px auto;
}
 #content div {
    border: 1px solid blue;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
}
#content  #margin{
    margin-right: 30px;
}
.read.col-6 section{
    margin: 0px auto;
    text-align: center;
    width: 300px;
    justify-content: center;
    display: inline-block;
    border: 1px solid black;
}
.bottom {
    text-align: center;
    padding: 20px;
    background-color: blue;
    box-sizing: border-box;
}